<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>OracleStat</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>db_url</param-name>
		<param-value>url</param-value>
	</context-param>
		<context-param>
		<param-name>db_user</param-name>
		<param-value>user</param-value>
	</context-param>
		<context-param>
		<param-name>db_pwd</param-name>
		<param-value>pwd</param-value>
	</context-param>
	<context-param>
		<param-name>master_select</param-name>
		<param-value>select</param-value>
	</context-param>
	<context-param>
		<param-name>owner_select</param-name>
		<param-value>select</param-value>
	</context-param>
	<context-param>
		<param-name>table_select</param-name>
		<param-value>select</param-value>
	</context-param>
	<context-param>
		<param-name>table_space_select</param-name>
		<param-value>select</param-value>
	</context-param>
</web-app>